@font-face {
	font-family: "Dec";
	src: url('decterm.ttf')
}
body {
	font-family: "Dec";
	font-stretch: semi-expanded;
	background-color: black;
	color: green;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 2%;
	
}
img {

	width: 100%;
	height: auto;
}
.head1 {
	background-image: url("hackfun.jpg");
	margin: auto auto 20px;
	max-width: 100%;
	position:relative;
	background-position: 0 0;
	background-repeat: no-repeat;
	margin: auto auto 20px;
	max-width: 100%;
	position:relative;
	background-position: 0 0;
	background-repeat: no-repeat;;
	height: 10%;
}	







