@font-face {
	font-family: "Dec";
	src: url('decterm.ttf');
}
body {
	font-family: "Dec";
	font-stretch: semi-expanded;
	background-color: black;
	color: green;
	padding-left: 12%;
	padding-right: 12%;
	padding-top: 2%;
	
}
img {

	width: 100%;
	height: auto;
}
header {
	box-sizing: border-box;
	color: white;
	text-align: right;
	background: black;
	overflow: auto;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-image: url("hackfun.jpg");
}
